<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GoogleApiKey</key>
	<string>AIzaSyBt-QbWPbggfz-N3D9r31FFuYzJO7Q1tr4</string>
	<key>googleSearchEngineId</key>
	<string>034f3523b29ab4436</string>
</dict>
</plist>
